<section>

    <ul>
        <li>
            <input type="checkbox">
            <input type="text">

            <button>
               <h1>x</h1>
            </button>
        </li>

        <li>
            <input type="checkbox">
            <input type="text" class="checked">

            <button>
               <h1>x</h1>
            </button>
        </li>
    </ul>

</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all></app-todo-button-delete-all>

